In [79]:
data = pd.read_csv('dengue.csv')

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   i_d                          108 non-null    object
 1   date_of_fever                108 non-null    object
 2   days                         99 non-null     object
 3   current_temp                 108 non-null    float64
 4   wbc                          45 non-null     float64
 5   servere_headche              90 non-null     object
 6   pain_behind_the_eyes         108 non-null    object
 7   joint_muscle_aches           99 non-null     object
 8   metallic_taste_in_the_mouth  108 non-null    object
 9   appetite_loss                108 non-null    object
 10  addominal_pain               108 non-null    object
 11  nausea_vomiting              108 non-null    object
 12  diarrhoea                    108 non-null    object
 13  hemoglobin                   36 non-null     float64
 14  hematocri                    27 non-null     float64
 15  platelet                     54 non-null     float64
 16  Malaria                      99 non-null     object
dtypes: float64(5), object(12)
memory usage: 14.5+ KB

In [81]:
data.isna().sum()

i_d                             0
date_of_fever                   0
days                            9
current_temp                    0
wbc                            63
servere_headche                18
pain_behind_the_eyes            0
joint_muscle_aches              9
metallic_taste_in_the_mouth     0
appetite_loss                   0
addominal_pain                  0
nausea_vomiting                 0
diarrhoea                       0
hemoglobin                     72
hematocri                      81
platelet                       54
Malaria                         9
dtype: int64

In [83]:
print(data.isna().sum())
data.info()

days                            9
current_temp                    0
servere_headche                18
pain_behind_the_eyes            0
joint_muscle_aches              9
metallic_taste_in_the_mouth     0
appetite_loss                   0
addominal_pain                  0
nausea_vomiting                 0
diarrhoea                       0
Malaria                         9
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   days                         99 non-null     object
 1   current_temp                 108 non-null    float64
 2   servere_headche              90 non-null     object
 3   pain_behind_the_eyes         108 non-null    object
 4   joint_muscle_aches           99 non-null     object
 5   metallic_taste_in_the_mouth  108 non-null    object
 6   appetite_loss                108 non-null    object
 7   addominal_pain               108 non-null    object
 8   nausea_vomiting              108 non-null    object
 9   diarrhoea                    108 non-null    object
 10  Malaria                      99 non-null     object
dtypes: float64(1), object(10)
memory usage: 9.4+ KB

In [78]:
data.isna().sum()

days                           0
current_temp                   0
servere_headche                0
pain_behind_the_eyes           0
joint_muscle_aches             0
metallic_taste_in_the_mouth    0
appetite_loss                  0
addominal_pain                 0
nausea_vomiting                0
diarrhoea                      0
Malaria                        0
dday                           0
ddday                          0
dtype: int64

## Cleaning

In [140]:
data = pd.read_csv('dengue.csv')

In [141]:
def wrangle(data):
    #Fill NaN values
    data['servere_headche'].fillna(method='ffill', inplace=True)
    data['joint_muscle_aches'].fillna(method='ffill', inplace=True)
    data['days'].fillna(method='ffill', inplace=True)
    data['Malaria'].fillna(method='ffill', inplace=True)
    
    #drop NAN values
    data.drop(columns=['wbc', 'hematocri', 'hemoglobin', 'platelet', 'date_of_fever', 'i_d'], inplace=True)
    
    
    maps = { 
    '3--4':3,
    '10':10, 
    "2":2, 
    '3':3, 
    '4':4, 
    '5':5, 
    '12':12
    }


    y_map = {
    'yes':1,
    'no':0
    }
    
    data['days'] = data['days'].str.split(' ', expand=True)[0]
    data['days'] = data['days'].map(maps)
    
    # df = data['days'].str.split(' ', expand=True)[0].str.split('--')
    data['servere_headche'] = data['servere_headche'].map(y_map)
    data['pain_behind_the_eyes'] = data['pain_behind_the_eyes'].map(y_map)
    data['joint_muscle_aches'] = data['joint_muscle_aches'].map(y_map)
    data['metallic_taste_in_the_mouth'] = data['metallic_taste_in_the_mouth'].map(y_map)
    data['appetite_loss'] = data['appetite_loss'].map(y_map)
    data['addominal_pain'] = data['addominal_pain'].map(y_map)
    data['nausea_vomiting'] = data['nausea_vomiting'].map(y_map)
    data['diarrhoea'] = data['diarrhoea'].map(y_map)
    data['Malaria'] = data['Malaria'].map(y_map)
    
    # Normalise current Temp column
    data['current_temp'] = (data['current_temp'] - max(data['current_temp']))/(max(data['current_temp'])-min(data['current_temp']))
    
    
    return data

In [142]:
wrangle(data)

,days,current_temp,servere_headche,pain_behind_the_eyes,joint_muscle_aches,metallic_taste_in_the_mouth,appetite_loss,addominal_pain,nausea_vomiting,diarrhoea,Malaria
0,10,-0.047619,1,0,0,1,1,1,0,1,1
1,4,-0.009524,0,1,1,0,0,0,0,0,0
2,5,-0.009524,0,0,0,1,1,1,1,0,1
3,12,-0.038095,1,1,0,0,0,0,0,0,0
4,3,-0.038095,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
103,2,-0.014286,1,1,0,1,0,0,0,0,1
104,3,-0.019048,1,1,1,0,0,0,0,0,1
105,2,-0.038095,1,0,1,0,0,1,0,0,1
106,3,0.000000,1,0,1,0,1,0,1,0,1
107,3,-1.000000,1,0,1,0,0,0,1,0,1

In [143]:
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingClassifier

In [144]:
X = data.drop(columns=['Malaria'])
y = data.Malaria

In [145]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [146]:
logistic = LogisticRegression(random_state=42, max_iter=200)
dt = DecisionTreeClassifier(random_state=42)
MLP = MLPClassifier(random_state=42, max_iter=1000)

# Create a voting classifier (hard voting)
voting_clf = VotingClassifier(estimators=[
    ('logR', logistic), 
    ('dt', dt), 
    ('MLP', MLP)
], voting='hard')

In [147]:
# Train the voting classifier
voting_clf.fit(X_train, y_train)

VotingClassifier(estimators=[('logR',
                              LogisticRegression(max_iter=200,
                                                 random_state=42)),
                             ('dt', DecisionTreeClassifier(random_state=42)),
                             ('MLP',
                              MLPClassifier(max_iter=1000, random_state=42))])

In [148]:
prediction = voting_clf.predict(X_test)

In [149]:
r2_score(y_test, prediction)

1.0

### Save Model

In [124]:
import pickle
with open('model.pkl', 'wb') as f:
    pickle.dump(voting_clf, f)